@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.Navbar{
  width: 20vw;
  padding: 10px;
  position: relative;
  color: #fff;
  background: rgb(250, 251, 253);
  min-height: 100vh;
}
.Pagehead{
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px;
}
.Navhead{
  color: #000;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.new_nav_head{
  color: #F7542E !important; 
}

.Navlink{
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}
.Navlink a{
  text-decoration: none;
  color: rgb(162, 162, 162);
}
.Color , .Typography , .Spaces , .Button, .inputs,.grid{
  position: absolute;
  height: 90vh;
  top: 0;
  left: 20vw;
}
.ColorGrid{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 20px;
}
.ColorElementHead{
  width: 200px;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  background: #F7542E;
}
.ColorSub{
  display: flex;
  flex-direction: column;
}
.ColorColfont{
  font-size: 15px;
  font-weight: 700;
}
.ColorCol{
  display: flex;
  font-size: 15px;
  padding: 10px;
  justify-content: space-between;
}
.ButtonGroupType1{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 40px;
  padding: 10px;
  width: 35vw;
  justify-content: space-around;
}
.ButtonGroup1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.ButtonGroup1 p , .ButtonGroup2 p{
  font-size: 12px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
.ButtonGroup2{
  margin: 10px 0px;
  align-items: center;
  gap: 5px;
  width: 18vw;
  display: flex;
  flex-direction: column;
}
.ButtonType2{
  gap:10px;
  margin: 20px 0px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.ButtonType3{
  gap:10px;
  align-items: center;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.ButtonType4{
  gap:10px;
  margin: 20px 0px;
  align-items: end;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer{
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  left: 20vw;
  width: 80%;
  margin: auto auto 2.5em;
  color: rgb(163, 163, 163);
  font-weight: 700;
}
.footer.add{
  margin: 0px;
}
.Inputs_Box p{
  font-size: 12px;
  font-family: 'Inconsolata', monospace;
}
.InputTag{
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  height: 60px;
  font-size: 15px;
  border: none !important;
  outline: solid #000 1px;
}

.InputTag.error{
  outline: solid rgb(195, 3, 3) 1px !important;
}

.InputTag.focus{
  outline: rgb(79, 79, 240) solid 1px;
  border: none;
}
.InputTag.small{
  height: 40px;
}
.InputTag.large{
  min-height: 100px !important;
}
.InputTag.full{
  width: 70vw;
}
.InputTag.mouseerror{
  cursor: not-allowed;
}

.Inputs_Box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.InputGroup1{
  display:flex;
  gap: 20px;
  padding: 20px;
}

.helpertext{
  font-size: 12px;
  font-family: 'Inconsolata', monospace;
}